[submodule "third_party/tf_bag"]
	path = third_party/tf_bag
	url = git@github.com:IFL-CAMP/tf_bag.git
[submodule "third_party/static_transform_mux"]
	path = third_party/static_transform_mux
	url = git@github.com:tradr-project/static_transform_mux.git
